.footer{
  
    animation: fadeIn2 2s ease;
     font-family: 'Orbitron', sans-serif;
}
@keyframes fadeIn2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}








.footer-center li{
    list-style: none;
}
.footer-center a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
}
.footer-center a:hover{
  
    background-color:#ee046d ;
    transition: background-color 0.6s ease;  
    border-radius: 5px; 
}




.footer-right a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.footer-right a:hover{
 
    background-color:#ee046d ;
    transition: background-color 0.6s ease;   
}
.footer-right li{
    list-style: none;
}
.footer-right p{
    color: rgb(39, 38, 38);
}

