
.hero{
  margin-top: 50px;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("../assets/background image.jpg");
  background-size: cover;
 

  background-attachment: fixed; 
  animation: fadeIn2 2s ease-in forwards; 
}
@keyframes fadeIn2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

.header{
   
    padding-top: 400px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, #ee046d 0%, #f5af9a 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 48px;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
    font-family: 'Orbitron', sans-serif;
    
}
.header h1{
    font-size: 3.2em;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
    
}
.obi{
   font-family: 'Orbitron', sans-serif;
}
@media screen and (max-width:1024){
   .hero {
    background-position: center;
    background-attachment: scroll;  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background-attachment: scroll;  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }

  .header {
    padding-top: 200px;
    font-size: 60px;
  }

  .header h1 {
    font-size: 70px;
    font-weight: bold;
  }

  #about {
    margin-top: 300px ;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding-top: 150px;
    font-size: 24px;
  }

  .header h1 {
    font-size: 68px;
  }

  #about {
    margin-top: 250px !important;
  }
}